img {
    margin: 40px;
    animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
    from {
        transform: rotate(0);
        }
    to {  
        transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    from {
        transform: rotate(0);
        }
    to {  
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        transform: rotate(0);
        }
    to {  
        transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0);
        }
    to {  
        transform: rotate(360deg);
    }
} {
    transform: rotate(360deg);
}